* {
  margin: 0;
  padding: 0;
}

body {
  background: #fff;
}

.container {
  background: linear-gradient(135deg, #fc575e, #f7b42c);
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.app-wrapper {
  background-color: #fff;
  min-width: 350px;
  min-height: 650px;
  padding: 30px;
  box-sizing: border-box;
  border-radius: 5px;
}

.title {
  color: #fc575e;
  text-align: center;
  margin: 80px 0px 50px 0px;
  font-family: Arial, Helvetica, sans-serif;
}

.form-group {
  margin: 25px 20px 10px 20px;
  color: #969292;
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
}

.pass {
  margin-bottom: 55px;
}

.form-control {
  height: 32px;
  font-size: 20px;
  outline: none;
  width: 100%;
  border-top-style: none;
  border-left-style: none;
  border-right-style: none;
  border-bottom-style: 2px solid black;
  margin-bottom: 10px;
  padding-top: 5px;
  font-family: Arial, Helvetica, sans-serif;
}

.form-control-image {
  height: 32px;
  font-size: 14px;
  width: 100%;
  margin-bottom: 10px;
  padding-top: 20px;
  font-family: Arial, Helvetica, sans-serif;
}

.form-control-description {
  height: 45px;
  font-size: 14px;
  width: 100%;
  border-style: 2px solid black;
  margin-top: 20px;
  margin-bottom: 10px;
  padding-top: 5px;
  font-family: Arial, Helvetica, sans-serif;
}

.alert-danger {
  color: red;
}

.btn {
  display: flex;
  text-transform: uppercase;
  font-size: 20px;
  border-radius: 25px;
  color: white;
  padding: 10px 60px;
  background: linear-gradient(to right, #f67062, #fc5296);
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
    rgba(0, 0, 0, 0.22) 0px 15px 12px;
  margin: auto;
  outline: none;
  border: none;
  cursor: pointer;
  transition: all 0.1s;
  font-family: Arial, Helvetica, sans-serif;
}

button:active {
  transform: translateY(2px);
}

.meal-btn {
  margin-top: 25px;
}

.homepage-background {
  background: #f7b42c;
  height: 750px;
}

.link-register {
  display: flex;
  justify-content: center;
  margin-top: 90px;
  font-size: 15px;
  font-family: Arial, Helvetica, sans-serif;
}

.link-style {
  padding-right: 8px;
}

.link-login {
  display: flex;
  justify-content: center;
  margin-top: 20%;
  font-size: 15px;
  font-family: Arial, Helvetica, sans-serif;
}

.sidenav {
  float: left;
  margin-top: 5%;
}

.sidenav a {
  text-decoration: none;
}

.sidenav li {
  padding: 20px 50px;
}

.homepage-body {
  position: absolute;
  margin-top: 6.5%;
  margin-left: 10rem;
  font-family: Arial, Helvetica, sans-serif;
  letter-spacing: 0.5px;
}

#homepage-body-header {
  margin-bottom: 1rem;
  font-size: 2rem;
}

#homepage-body-button {
  padding: 0.8rem;
  margin-top: 0.5rem;
  cursor: pointer;
  color: #fff;
  background: rgb(46, 155, 46);
  border: none;
  border-radius: 5px;
  font-size: 1rem;
}

.available-meals {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 50% 50%;
  gap: 10px 10px;
}

.available-meals > div {
  display: flex;
  justify-content: center;
  align-items: center;
  object-fit: contain;
}

.available-meals > div > img {
  max-height: 100%;
  max-width: 100%;
}

nav {
  height: 35px;
  padding: 1.2rem 0.1rem;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  background: linear-gradient(135deg, #fc575e, #f7b42c);
}

.NavMenu {
  display: flex;
  align-items: center;
  margin-right: 1rem;
}

.nav-link {
  display: flex;
  color: #fff;
  align-items: center;
  text-decoration: none;
  padding: 0 1.5rem;
  height: 100%;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 1rem;
}

.nav-link:hover {
  display: flex;
  text-align: center;
  align-items: center;
  width: 6.5rem;
  height: 2rem;
  padding: 1.5rem;
  border: 2px solid rgba(233, 156, 14, 0.479);
  background: rgba(192, 129, 11, 0.479);
  border-radius: 10px;
  box-sizing: border-box;
}

#file-upload {
  visibility: hidden;
}

.meal-btn:disabled {
  background: grey;
  font-size: 12px;
}