@import url("https://fonts.googleapis.com/css2?family=Recursive:wght@400;800&display=swap");

/* @font-face {
  font-family: "PT Serif Bold";
  src: url("./assets/fonts/pt-serif-bold.woff2");
  font-weight: 400;
} */

html * {
  /* font-family: "PT Serif" !important; */
  font-family: "Merienda", cursive;
  font-family: "Recursive", sans-serif;
  font-family: "Sedgwick Ave", cursive;
}

* {
  margin: 0;
  padding: 0;
}

body {
  background: #fff;
}

.container {
  background: linear-gradient(135deg, #fc575e, #f7b42c);
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.app-wrapper {
  background-color: #fff;
  min-width: 350px;
  min-height: 650px;
  padding: 30px;
  box-sizing: border-box;
  border-radius: 5px;
}

.title {
  color: #fc575e;
  text-align: center;
  margin: 80px 0px 50px 0px;
  font-family: Arial, Helvetica, sans-serif;
}

.form-group {
  margin: 25px 20px 10px 20px;
  color: #969292;
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
}

.pass {
  margin-bottom: 55px;
}

.form-control {
  height: 32px;
  font-size: 20px;
  outline: none;
  width: 100%;
  border-top-style: none;
  border-left-style: none;
  border-right-style: none;
  border-bottom-style: 2px solid black;
  margin-bottom: 10px;
  padding-top: 5px;
  font-family: Arial, Helvetica, sans-serif;
}

.form-control-image {
  height: 32px;
  font-size: 14px;
  width: 100%;
  margin-bottom: 10px;
  padding-top: 20px;
  font-family: Arial, Helvetica, sans-serif;
}

.edit-img {
  height: 32px;
  font-size: 14px;
  width: 100%;
  margin-bottom: 10px;
  padding-top: 20px;
  margin-left: 5.3rem;
  margin-top: 1rem;
  font-family: Arial, Helvetica, sans-serif;
}

.img-preview {
  height: 4.5rem;
  width: 4.5rem;
  position: absolute;
  margin-top: 1.5rem;
  margin-left: -2.9rem;
}

.form-control-description {
  height: 45px;
  font-size: 14px;
  width: 100%;
  border-style: 2px solid black;
  margin-top: 20px;
  margin-bottom: 10px;
  padding-top: 5px;
  font-family: Arial, Helvetica, sans-serif;
}

.alert-danger {
  color: red;
}

.btn {
  display: flex;
  text-transform: uppercase;
  font-size: 20px;
  border-radius: 25px;
  color: white;
  padding: 10px 60px;
  background: linear-gradient(to right, #f67062, #fc5296);
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
    rgba(0, 0, 0, 0.22) 0px 15px 12px;
  margin: auto;
  outline: none;
  border: none;
  cursor: pointer;
  transition: all 0.1s;
  font-family: Arial, Helvetica, sans-serif;
}

button:active {
  transform: translateY(2px);
}

.meal-btn {
  margin-top: 25px;
}

.homepage-background {
  background: #f7b42c;
  height: 750px;
}

.link-register {
  display: flex;
  justify-content: center;
  margin-top: 90px;
  font-size: 15px;
  font-family: Arial, Helvetica, sans-serif;
}

.link-style {
  padding-right: 8px;
}

.link-login {
  display: flex;
  justify-content: center;
  margin-top: 20%;
  font-size: 15px;
  font-family: Arial, Helvetica, sans-serif;
}

.sidenav {
  float: left;
  margin-top: 5%;
}

.sidenav a {
  text-decoration: none;
}

.sidenav li {
  padding: 20px 50px;
}

.homepage-body {
  position: relative;
  margin-top: 10%;
  margin-left: 10rem;
  font-family: Arial, Helvetica, sans-serif;
  letter-spacing: 0.5px;
}

#homepage-body-header {
  margin-bottom: 1rem;
  font-size: 2rem;
}

.homepage-body-button {
  padding: 1rem;
  margin-top: 0.5rem;
  cursor: pointer;
  color: #fff;
  background: rgb(46, 155, 46);
  border: none;
  border-radius: 10px;
  font-size: 1rem;
  text-align: center;
  transition: all 0.5s;
}

.homepage-body-button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.homepage-body-button:hover span {
  padding-right: 0.2rem;
  padding-left: 0.2rem;
}

.available-meals {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 50% 50%;
  gap: 10px 10px;
}

.available-meals > div {
  display: flex;
  justify-content: center;
  align-items: center;
  object-fit: contain;
}

.available-meals > div > img {
  max-height: 100%;
  max-width: 100%;
}

nav {
  height: 35px;
  padding: 1.2rem 0.1rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  /* background: linear-gradient(135deg, #fc575e, #f7b42c); */
  position: sticky;
  overflow: hidden;
  top: 0;
  width: 100%;
  z-index: 100;
  background-color: #fff;
}

.NavMenu {
  display: flex;
  align-items: center;
  margin-right: 1rem;
  z-index: 101;
}

.nav-link {
  display: flex;
  color: rgba(37, 42, 55, 255);
  align-items: center;
  text-decoration: none;
  padding: 0 1.5rem;
  height: 100%;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 1rem;
}

.nav-link:hover {
  display: flex;
  text-align: center;
  align-items: center;
  width: 6.5rem;
  height: 2rem;
  padding: 1.5rem;
  border: 2px solid hsl(0, 0%, 85%);
  background: rgba(37, 42, 55, 255);
  color: #fff;
  border-radius: 10px;
  box-sizing: border-box;
}

.background {
  background: rgba(37, 42, 55, 255);
}

.brand-logo {
  margin-left: 11%;
  height: 4.5rem;
  margin-top: -1rem;
}

.landing-page {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 5rem 10rem 0 11rem;
}

.active-btn {
  background-color: rgb(225, 82, 42);
  padding: 1rem 1.4rem;
  color: #fff;
  cursor: pointer;
  border-radius: 10px;
  border: 1px solid rgb(225, 82, 42);
  margin-top: 1.5rem;
  margin-bottom: 1rem;
  margin-right: 1.2rem;
  font-size: 14px;
  font-weight: 800;
  text-align: center;
  transition: all 0.5s;
}

.active-btn::after {
  content: "\00bb";
  margin-left: 0.4rem;
}

/* .landing-page-text {
  width: 100%;
} */

.landing-page-text-main {
  color: #fff;
  font-size: 50px;
  font-weight: 900;
  margin-bottom: 2rem;
  margin-top: 1rem;
}

.landing-page-text-sub {
  color: hsl(0, 0%, 85%);
  font-size: 18px;
  margin-bottom: 2rem;
}

.landing-page-image {
  width: 100%;
}

.landing-page-button {
  padding: 1rem;
  color: #fff;
  cursor: pointer;
  border-radius: 10px;
  border: 1px solid #fff;
  margin-top: 1.5rem;
  margin-bottom: 1rem;
  margin-right: 1.2rem;
  font-size: 14px;
  font-weight: 800;
  /* line-height: 1.5em; */
  background-color: transparent;
  text-align: center;
  transition: all 0.5s;
}

.landing-page-button:hover {
  background-color: rgb(225, 82, 42);
  border: 1px solid rgb(225, 82, 42);
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.landing-page-button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.landing-page-button span::after {
  content: "\00bb";
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.landing-page-button:hover span {
  padding-right: 0.9rem;
}

.landing-page-button:hover span::after {
  opacity: 1;
  right: 0;
}

.bg-image {
  margin-left: 20%;
}

#file-upload {
  visibility: hidden;
}

.meal-btn:disabled {
  background: grey;
  font-size: 12px;
}

/* meal-card-component-style */
.meal-list-title {
  margin-top: 7%;
  margin-left: 45%;
}

.cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 4%;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 4%;
  max-width: 100%;
}

.meal-card {
  position: relative;
  margin-bottom: 2rem;
  padding: 1rem;
  padding-bottom: 2.2rem;
  max-width: 15rem;
  background: #faf0f0;
  border: none;
  border-radius: 8px;
}

.meal-card-image {
  width: 15rem;
  height: 11rem;
}

.meal-card-body {
  padding-top: 1.5rem;
  padding-bottom: 1rem;
  max-width: 15rem;
  text-align: center;
}

.meal-card-name {
  font-size: 1.5rem;
  text-align: center;
  height: 2rem;
}

.meal-card-description {
  padding-top: 1rem;
  height: 3.5rem;
  font-size: 1rem;
}

.price {
  list-style-type: none;
  font-weight: bold;
  font-size: 1.3rem;
  text-align: center;
  max-width: 15rem;
  padding-top: 1.5rem;
}

.meal-card-button {
  padding: 0.8rem;
  cursor: pointer;
  border-radius: 10px;
  border: none;
  margin-top: 1.5rem;
  margin-bottom: 1rem;
  background-color: rgb(185, 82, 42);
  text-align: center;
  transition: all 0.5s;
}

.meal-card-button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.meal-card-button span::after {
  content: "\00bb";
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.meal-card-button:hover span {
  padding-right: 0.9rem;
}

.meal-card-button:hover span::after {
  opacity: 1;
  right: 0;
}

.meal-card-link {
  text-decoration: none;
  color: #fff;
}

.meal-card-delete-icon {
  position: absolute;
  margin-left: 85%;

  margin-top: -22%;
  cursor: pointer;
}

.meal-card-delete-icon:hover {
  opacity: 0.8;
}

/* edit icon style */
.edit-icon {
  color: #000;
  position: absolute;
  margin-left: 12.5rem;
  margin-top: -3.4rem;
  width: 10px;
  height: 2px;
  border-radius: 1px;
  border: solid 1px currentColor;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.edit-icon:before {
  content: "";
  position: absolute;
  left: -12px;
  top: -1px;
  width: 0px;
  height: 0px;
  border-left: solid 5px transparent;
  border-right: solid 5px currentColor;
  border-top: solid 2px transparent;
  border-bottom: solid 2px transparent;
}

/* remove icon style */
.remove.icon {
  color: #000;
  position: absolute;

  background-color: #000;
}

.remove.icon:before {
  content: "";
  position: absolute;
  width: 15px;
  height: 2px;
  background-color: #000;
  background-color: currentColor;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.remove.icon:after {
  content: "";
  position: absolute;
  width: 15px;
  height: 2px;
  background-color: #000;
  background-color: currentColor;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

/* modal-styling */
.modal-container {
  position: fixed;
  top: 0;

  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal {
  position: fixed;
  width: 30vw;
  height: auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 2rem;
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 0.35);
  backdrop-filter: blur(5px);
  box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.2);
}

.modal-header {
  position: relative;
  border-bottom: 1px solid #dddddd;
}

.modal-header-title {
  text-align: center;
}

.close {
  position: absolute;
  top: 0;
  right: 0;
  background: transparent;
}

.modal-content {
  border-bottom: 1px solid #dddddd;
  padding: 2rem 0;
}

.modal-footer {
  padding: 2rem 0;
  padding-bottom: 0;
}

.modal-btn {
  float: right;
  padding: 0.5rem;
  border-radius: 8px;
}

.modal-close {
  background-color: transparent;
  font-weight: 600;
}

.modal-close:hover {
  color: rgba(54, 67, 72, 0.8);
}

.submit {
  margin-right: 1rem;
  background-color: #364348;
  color: #fff;
}

.submit:hover {
  background-color: rgba(54, 67, 72, 0.8);
}

/* modal */
.darkBG {
  background-color: rgba(0, 0, 0, 0.2);
  width: 160vw;
  height: 300vh;
  z-index: 500;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
}

.centered {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
}

.modal {
  width: 250px;
  height: 200px;
  background: white;
  color: white;
  z-index: 10;
  border-radius: 16px;
  box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.04);
}

.modalHeader {
  height: 50px;
  background: white;
  overflow: hidden;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
}

.heading {
  margin: 0;
  padding: 10px;
  color: #2c3e50;
  font-weight: bold;
  font-size: 18px;
  text-align: center;
}

.modalContent {
  padding: 10px;
  font-size: 14px;
  color: #2c3e50;
  text-align: center;
}

.modalActions {
  position: absolute;
  bottom: 2px;
  margin-bottom: 20px;
  width: 100%;
}

.actionsContainer {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.closeBtn {
  cursor: pointer;
  font-weight: 500;
  padding: 4px 8px;
  border-radius: 8px;
  border: none;
  font-size: 18px;
  color: #2c3e50;
  background: white;
  transition: all 0.25s ease;
  box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.06);
  position: absolute;
  right: 0;
  top: 0;
  align-self: flex-end;
  margin-top: -7px;
  margin-right: -7px;
}

.closeBtn:hover {
  box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.04);
  transform: translate(-4px, 4px);
}

.addBtn {
  margin-top: 10px;
  margin-left: -3rem;
  cursor: pointer;
  font-weight: 500;
  padding: 11px 20px;
  border-radius: 12px;
  font-size: 0.8rem;
  border: none;
  color: #fff;
  background: rgb(46, 155, 46);
  transition: all 0.25s ease;
}

.addBtn:hover {
  box-shadow: 0 10px 20px -10px rgba(46, 155, 46, 0.9);
  transform: translateY(-5px);
  background: rgb(46, 155, 46);
}

.cancelBtn {
  margin-top: 10px;
  margin-left: -4rem;
  cursor: pointer;
  font-weight: 500;
  padding: 11px 28px;
  border-radius: 12px;
  font-size: 0.8rem;
  border: none;
  color: #2c3e50;
  background: #fcfcfc;
  transition: all 0.25s ease;
}

.cancelBtn:hover {
  box-shadow: none;
  transform: none;
  background: whitesmoke;
}

.primaryBtn {
  margin: 20px 10px;
  cursor: pointer;
  font-weight: 500;
  padding: 13px 25px;
  border-radius: 15px;
  font-size: 0.8rem;
  border: none;
  color: white;
  background: #185adb;
  transition: all 0.25s ease;
}

.primaryBtn:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 20px -10px rgba(24, 90, 219, 0.6);
}

.dropdown {
  display: flex;
  padding-bottom: 1rem;
}

.dropdown-select {
  display: flex;
  justify-content: space-around;
}

.dropdown-select-title {
  margin-bottom: 0.5rem;
  font-weight: 500;
}

.dropdown-text {
  margin-top: 2rem;
  font-weight: bold;
}

/* meal-tab style */
.admin-menu {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.meal-tabs {
  margin-top: 10%;
  width: 80%;
  height: auto;
  min-height: 400px;
  background: #fff;
  margin: 3.5rem auto 1.5rem;
  padding: 2rem 1rem;
  color: gray;
  border-radius: 2rem;
  @media (max-width: 769px) {
    padding: 2rem 0;
  }
}

ul.meal-tab-nav {
  width: 60%;
  margin: 0 auto 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid orange;
  border-radius: 2rem;
  padding-left: 0px;
  @media (max-width: 768px) {
    width: 90%;
  }
}

ul.meal-tab-nav li {
  width: 50%;
  padding: 1rem;
  list-style: none;
  text-align: center;
  cursor: pointer;
  transition: all 0.7s;
}

ul.meal-tab-nav li:first-child {
  border-bottom-left-radius: 2rem;
  border-top-left-radius: 2rem;
}

ul.meal-tab-nav li:last-child {
  border-bottom-right-radius: 2rem;
  border-top-right-radius: 2rem;
}

ul.meal-tab-nav li:hover {
  background: hsl(39, 100%, 90%);
}

ul.meal-tab-nav li.active {
  background: hsl(30, 90%, 70%);
  color: #fff;
  font-weight: bold;
}

.meal-tab-content {
  font-size: 2rem;
  text-align: center;
}

/* menu-style */
.meal-card-delete-menu {
  position: absolute;
  margin-left: 80%;
  margin-top: -8%;
  cursor: pointer;
  font-size: 50%;
}

.meal-card-delete-menu:hover {
  opacity: 0.8;
}

/*Pagination */
.meal-pagination {
  max-width: 1400px;
  margin: 5rem auto;
}

.app__meals {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.loading-text,
.error-text {
  font-size: 2rem;
  text-align: center;
}

.error-text {
  color: red;
}

.pagination {
  display: flex;
  justify-content: center;
  padding-left: 1rem;
  margin-top: 1rem;
  margin-bottom: 2rem;
}

.pagination button {
  margin-right: 0.5rem;
  cursor: pointer;
  padding: 7px 15px;
}

.pagination button:disabled {
  background-color: #333;
  color: #fff;
  cursor: not-allowed;
}

.flexGrow {
  flex-grow: 1;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
}

#missing {
  background: #f7b42c;
  height: 100%;
}

.unauth-background {
  background-color: #f7b42c;
  text-align: center;
  width: 100%;
  height: 100%;
}
